[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
west = ">=0.14.0"
pcpp = "*"
pyelftools = ">=0.27"
pyyaml = ">=5.1"
pykwalify = "*"
canopen = "*"
packaging = "*"
progress = "*"
psutil = "*"
pylink-square = "*"
pyserial = "*"
requests = "*"
anytree = "*"
intelhex = "*"
windows-curses = "*"
colorama = "*"
ply = ">=3.10"
gcovr = ">=4.2"
coverage = "*"
pytest = "*"
mypy = "*"
mock = ">=4.0.1"
pyocd = ">=0.35.0"
tabulate = "*"
natsort = "*"
cbor = ">=1.0.0"
gitlint = "*"
junit2html = "*"
clang-format = ">=15.0.0"
lpc-checksum = "*"
pillow = ">=10.0"
imgtool = ">=1.9"
grpcio-tools = ">=1.47.0"
protobuf = ">=3.20.3"
pygithub = "*"
graphviz = "*"
zcbor = ">=0.6.0"
python-magic = "*"
python-magic-bin = "*"
lxml = "*"
junitparser = ">=2"
pylint = "*"
yamllint = "*"

[dev-packages]

[requires]
# python_version = "3.6"
